/* Sort button*/

#sort {
    position: relative;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: #E71D36;
    /* #2ecc71*/
    color: white;
    transition: background-color .3s;
    width: 100px;
    height: 20px;
}

#sort:hover, #sort:focus {
    background-color: #F0544F;
    /* #27ae60 */
}


/* Group button */

#group {
    position: relative;
    left: 20px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: #E71D36;
    color: white;
    transition: background-color .3s;
    width: 100px;
    height: 20px;
}

#group:hover, #group:focus {
    background-color: #F0544F;
}


/* Crop button */

#crop {
    position: relative;
    left: 40px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: #E71D36;
    color: white;
    transition: background-color .3s;
    width: 100px;
    height: 20px;
}

#crop:hover, #crop:focus {
    background-color: #F0544F;
}

/* Expand folder icon */

.dropIcon {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
