body {
    overflow-y: scroll;
    height: 800px;
    width: 410px;
}

#top {
    height: 120;
    margin-top: 10;
}

#head {
    text-align: center;
    padding: inherit;
}

#group {
    position: relative;
    left: 23;
}

#crop {
    position: relative;
    left: 46;
}

#tools {
    position: relative;
    bottom: 10;
    right: 1;
}

#bookmarks {
    height: 505px;
    margin-top: 0px;
    /* Keeps the scrollbar on jquery animate*/
    overflow-y: auto !important;
    overflow-x: hidden;
    position: relative;
}

#bottom {
    padding-bottom: 10;
}


}
#apply {
    height: 30;
}

/* Expand folder icon */
a .dropIcon {
    padding: 0 3px 0 0;
    color: #555;
    font-weight: normal;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all .2s ease-in-out;
}
a .dropIcon:hover {
    color: #248232;
}
.container {
    background: #f2f2f2;
}
#bookmarkHeading {
    width: 315px;
    display: inline-block;
}
.panel-body .form-group {
    margin: 0;
}
.search {
    height: 50px;
    width: 350px;
    border: none;
}
#search {
    width: 350px;
    padding-right: 20px;
    display: inline-block;
    overflow: hidden;
}
#resetSearch {
    margin-left: 335px;
    margin-top: -30px;
    width: 15px;
    padding: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    color: #AAAFB5;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all .15s ease-in-out;
}
#edit, #add-folder, #trash {
    padding: 5 0 0 0;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
#edit:hover, #add-folder:hover, #trash:hover, #resetSearch:hover {
    color: #000000;
}
#add-folder, #trash {
    margin-top: -21px;
    display: none;
}
#add-folder {
    margin-left: 280px;
}
#trash {
    padding-top: 4px;
    margin-left: 245px;
}
#bookmarks ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#bookmarks .bFolder a {
    display: inline-block;
    color: #000;
    width: 100%;
    padding: 10px 12px 10px 8px;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid #ddd;
}
#bookmarks :nth-child(n+1) ul:empty {
    min-height: 20px;
    color: #555;
}
#bookmarks :nth-child(n+1) ul:empty:after {
    padding-left: 40%;
    content: "Drag link here";
}
#bookmarks a:hover {
    background-color: #369;
    color: #FFF;
}
#bookmarks .bLink a {
    display: inline-block;
    color: #000;
    width: 100%;
    padding: 10px 3px 10px 17px;
    text-decoration: none;
    font-weight: normal;
    border-top: 1px solid #ddd;
}
#bookmarks>ul {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: : 1px solid #ddd;
}
#bookmarks .selectedLink a {
    background-color: #369;
}
#bookmarks .editSelectedVal {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px 12px 10px 8px;
    border-top: 1px solid #ddd;
}
#bookmarks .ghost a {
    opacity: 0.4;
}
