body {
    overflow-y: scroll;
    height: 800px;
    width: 410px;
}

#top {
    height: 120;
    margin-top: 10;
}

#head {
    text-align: center;
    padding: inherit;
}

#group {
    position: relative;
    left: 23;
}

#crop {
    position: relative;
    left: 46;
}

#tools {
    position: relative;
    bottom: 10;
    right: 1;
}

#bookmarks {
    height: 505px;
    margin-top: 0px;
    /* Keeps the scrollbar on jquery animate*/
    overflow-y: auto !important;
    overflow-x: hidden;
    position: relative;
}

#bottom {
    padding-bottom: 10;
}


}
#apply {
    height: 30;
}

/* Expand folder icon */
.dropIcon {
    width: 26px;
    margin-left: -26px;
    background-color: #fff;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all .2s ease-in-out;
}
.dropIcon:hover {
    color: #248232;
}
.container {
    background: #f2f2f2;
}
#bookmarkHeading {
    width: 315px;
    display: inline-block;
}
#bFolder {
    list-style-type: none;
    font-weight: bold;
}
#bLink {
    list-style-type:none;
    font-weight: normal;
}
#bLink:before{
    padding-right: 7px;
    margin-left: -19px;
    height: 16px;
    font-family:'FontAwesome';
    font-size: 1.333em;
    content:"\f107";
}
#bookmarks #bLink a {
    color: #333;
    text-decoration: none;
}
#bookmarks #bLink a:hover {
    /*background-color: #AAAFB5;*/

    text-decoration: none;
}
#bookmarks .selectedLink {
    background-color: rgba(191, 191, 191, 0.5);
    border-radius: 1px;
}
.panel-body .form-group {
    margin: 0;
}
.search {
    height: 50px;
    width: 350px;
    border: none;
}
#search {
    width: 335px;
    padding-right: 20px;
    display: inline-block;
}
#resetSearch {
    margin-left: -20px;
    width: 15px;
    padding: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    color: #AAAFB5;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all .15s ease-in-out;
}
#edit, #add-folder, #trash {
    padding: 5 0 0 0;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
#edit:hover, #add-folder:hover, #trash:hover, #resetSearch:hover {
    color: #000000;
}
#add-folder, #trash {
    margin-top: -21px;
    display: none;
}
#add-folder {
    margin-left: 280px;
}
#trash {
    padding-top: 4px;
    margin-left: 245px;
}
