html {
    overflow: hidden;
    display: block;
}

body {
    height: 600px;
    width: 358px;
    background-color: #009688;
}


/* Header */

.header {
    background-color: #009688;
    width: 358px;
    height: 47px;
}

#search {
    position: relative;
    margin-left: 14px;
    top: 3px;
    width: 330px;
    color: #ffffff;
    font size: 15px;
    display: inline-block;
    overflow: hidden;
}

#search:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search::-webkit-input-placeholder {
    color: #ffffff;
}

#search:focus::-webkit-input-placeholder {
    color: transparent
}

.search_icon {
    margin-left: -21px;
    margin-top: 8px;
    width: 17px;
    height: 17px;
}

#resetSearch {
    width: 15px;
    position: relative;
    left: 326px;
    top: -27px;
    padding: 0;
    background-color: #009688;
    background-repeat: no-repeat;
    color: #ffffff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all .15s ease-in-out;
}


/* Bookmarks */

#bookmarks {
    background-color: #ffffff;
    overflow-y: auto !important;
    overflow-x: hidden;
    height: 503px;
    width: 358px;
    font size: 19px;
}

#bookmarks ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#bookmarks :nth-child(n+1) ul:empty:after {
    border-bottom: 1px solid #ddd;
}

#bookmarks .bFolder a {
    display: inline-block;
    color: #000;
    width: 358px;
    padding: 17px 12px 13px 8px;
    text-decoration: none;
    font-weight: normal;
    border-top: 1px solid #ddd;
    font size: 15px;
}

#bookmarks .bLink a {
    display: inline-block;
    color: #000;
    width: 358px;
    padding: 14px 3px 14px 17px;
    text-decoration: none;
    font-weight: normal;
    border-top: 1px solid #ddd;
    min-height: 20px;
    font size: 19px;
}

#bookmarks .bLink a:empty {
    height: 40px;
}

#bookmarks .bLink a:empty:after {
    font-style: italic;
    content: "No title";
}

#bookmarks>ul {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#bookmarks .selectedLink a {
    background-color: #F0F5FF;
}

#bookmarks .editSelectedVal {
    background-color: rgba(0, 0, 0, 0.1);
    width: 358px;
    padding: 14px 12px 14px 8px;
    border: none;
}

#bookmarks .ghost a {
    opacity: 0.4;
}

.dropIcon {
    position: relative;
    margin-top: -2px;
    width: 22px;
    height: 17px;
}

#root {
    margin-left: 13px;
}

.linkIcon {
    position: relative;
    margin-top: -2px;
    margin-right: 6px;
    width: 17px;
    height: 17px;
}


/* Footer */

.footer {
    margin-bottom: 0px;
    background-color: #009688;
    width: 358px;
    height: 50px;
}

#sort {
    position: relative;
    margin-left: 28px;
    margin-top: 8px;
    height: 29px;
    width: 29px;
}

#group {
    position: relative;
    margin-left: 55px;
    margin-top: 8px;
    height: 34px;
    width: 34px;
}

#crop {
    position: relative;
    margin-left: 55px;
    margin-top: 8px;
    height: 31px;
    width: 31px;
}

#new_folder {
    position: relative;
    margin-left: 55px;
    margin-top: 8px;
    height: 30px;
    width: 31px;
}

.decision {
    width: 358px;
}

#apply {
    position: absolute;
    width: 27px;
    height: 27px;
    margin-left: 124px;
    margin-top: 11px;
}

#reject {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 209px;
    margin-top: 11px;
}
