/* Sort button*/

.h1 {
    position: relative;
}

.body {
    background-color: aliceblue;
}

/* Expand folder icon */

.dropIcon {
    background-color: #efefef;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    transition: background-color .2s;
}
.dropIcon:hover {
background-color: aliceblue;
}
.container {
    background: #f2f2f2;
}