html {
    overflow: hidden;
    display: block;
}

body {
    height: 600px;
    width: 358px;
    background-color: #009688;
}


/* Header */

.header {
    background-color: #009688;
    width: 358px;
    height: 47px;
}

#search {
    position: relative;
    margin-left: 14px;
    top: 2px;
    width: 300px;
    font-size: 12px;
    color: #ffffff;
    display: inline-block;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 0.1;
    font-family: "Roboto";
}

#search:hover {
    opacity: 0.5;
}

#search:focus, #create_new_folder:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search::-webkit-input-placeholder, #create_new_folder::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

#search:focus::-webkit-input-placeholder, #create_new_folder:focus::-webkit-input-placeholder {
    color: transparent;
}

#search_icon {
    margin-left: -21px;
    margin-bottom: 3px;
    width: 1.7rem;
    height: 1.7rem;
    opacity: inherit;
}

#search_icon:hover {
    opacity: 0.5;
}

#resetSearch {
    width: 14px;
    position: absolute;
    left: 295px;
    top: 18px;
    padding: 0;
    background-color: #009688;
    background-repeat: no-repeat;
    color: #ffffff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: all .15s ease-in-out;
}

#learn {
    position: absolute;
    width: 1.8rem;
    top: 15px;
    left: 327px;
    color: white;
}

#learn:hover {
    opacity: 0.5;
}

/* Bookmarks */

#bookmarks {
    background-color: #ffffff;
    overflow-y: auto !important;
    overflow-x: hidden;
    height: 503px;
    width: 358px;
    font size: 19px;
}

#bookmarks ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#bookmarks .bFolder a {
    display: inline-block;
    color: #000;
    width: 358px;
    padding: 17px 12px 13px 8px;
    text-decoration: none;
    font-weight: normal;
    border-top: 1px solid #ddd;
    font size: 15px;
}

.bLink:hover {
    border: 1px;
}

#bookmarks .bLink a {
    display: inline-block;
    color: #000;
    width: 358px;
    padding: 14px 3px 14px 17px;
    text-decoration: none;
    font-weight: normal;
    border-top: 1px solid #ddd;
    min-height: 20px;
    font size: 19px;
}

#bookmarks .bLink a:empty {
    height: 40px;
}

#bookmarks .bLink a:empty:after {
    font-style: italic;
    content: "No title";
}

#bookmarks>ul {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#bookmarks .selectedLink a {
    background-color: #F0F5FF;
}

#bookmarks .editSelectedVal {
    background-color: rgba(0, 0, 0, 0.1);
    width: 346px;
    padding: 14px 12px 14px 8px;
    border: none;
}

#bookmarks .ghost a {
    opacity: 0.4;
}

.dropIcon {
    position: relative;
    margin-top: -2px;
    width: 22px;
    height: 17px;
}

#root {
    margin-left: 13px;
}

.linkIcon {
    position: relative;
    margin-top: -2px;
    margin-right: 6px;
    width: 17px;
    height: 17px;
}


/* Footer */

.footer {
    margin-bottom: 0px;
    background-color: #009688;
    width: 358px;
    height: 50px;
}

#sort {
    position: relative;
    margin-left: 28px;
    margin-top: 8px;
    height: 29px;
}

#group {
    position: relative;
    margin-left: 55px;
    margin-top: 8px;
    height: 34px;
}

#crop {
    position: relative;
    margin-left: 55px;
    margin-top: 8px;
    height: 31px;
}

#new_folder {
    position: relative;
    margin-left: 55px;
    margin-top: 8px;
    height: 30px;
}

#sort:hover, #group:hover, #crop:hover, #new_folder:hover {
    opacity: 0.5;
}

.decision {
    width: 358px;
}

#apply {
    position: absolute;
    width: 27px;
    height: 27px;
    margin-left: 124px;
    margin-top: 11px;
}

#reject {
    position: absolute;
    width: 28px;
    height: 28px;
    margin-left: 209px;
    margin-top: 11px;
}

#apply:hover, #reject:hover {
    opacity: 0.5;
}

#trash {
    position: absolute;
    opacity: 0;
    top: 560px;
    width: 4rem;
    height: 4rem;
    left: 292;
}

#trash:hover {
    opacity: 0.5;
}

.add_new_folder {
    position: absolute;
}

#create_new_folder {
    position: absolute;
    margin-left: 12px;
    margin-top: 5px;
    width: 227px;
    font-size: 15px;
    color: #ffffff;
    display: inline-block;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 0.1;
    opacity: 0.8;
    font-family: "Roboto";
}

#apply_folder {
    position: absolute;
    width: 27px;
    height: 27px;
    margin-left: 260px;
    margin-top: 13px;
}

#reject_folder {
    position: absolute;
    width: 27px;
    height: 27px;
    margin-left: 310px;
    margin-top: 13px;
}

#apply_folder:hover, #reject_folder:hover {
    opacity: 0.5;
}

#tooltiptext {
    position: absolute;
    top: 528px;
    display: none;
    width: 358px;
    background-color: #323a46;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

#bookmarks .showspace   ul:empty{
    min-height: 20px;

}
#bookmarks .showspace   ul:empty:after {
    padding-left: 40%;
    content: "Drag link here";
}
